*
{
    margin: 0px;
    padding: 0px;
}

#clear
{
    clear:both;
}
.section_one
{
    width: 100%;
}
.wrapper
{
    width: 90%;
    margin: auto;
}

#top_left
{
    display: inline-block;
}

/*===========================Search========================*/
#search
{
    float: right;
}
#textstyle
{
    height: 30px;
    border-radius: 8px;
}
#buttonstyle
{
    background-color:darkgreen;
    color: white;
    padding: 7px;
    margin-top: 5%;
    border-radius: 8px;
    width: 70px;
    border: 1px solid green;
}
/*===========================logo========================*/
#logo_left
{
    display: inline-block;
    width: 20%;
    float: left;
}
#logo_left img
{
    height: 80px;
    width: 100%;
    margin-top: 4%;
}

/*===========================Nav========================*/
ul
{
    background-color: white;
    width: 79%;
    float: right;
    display: inline-block;
    margin-top: 1%;
    

}
ul li
{
    width:15%;
    display: inline-block;
    height: 70%;
    line-height: 85px;
    text-align: center;
}
ul li a
{
    color: black;
    text-decoration: none;
    display: block;
    
}
ul li a:hover
{
    background-color: deeppink;
}

/*===========================Slider========================*/


/*===========================timer========================*/
.timer
{
    width: 90%;
    margin: auto;
    height: 250px;
}
#timer_img img
{
    width: 100%;
    height: 250px
}

#countdown
{
    text-align: center;
    font-size: 60px;
}
/*=========================Arrow=======================*/
.arrow
{
    width: 90%;
    margin: auto;
    height: 100px;
}
#arrow_img img
{
    height: 50px;
    padding-left: 50%;
  
}
/*=========================body text======================*/
.bodytext
{
    width: 73%;
    margin: auto;
    border: 1px solid grey;
    
}
h2
{
    text-align: center;
}
p
{
    margin-top: 2%;
}
/*========================Sub body text Left ======================*/

#right_content
{
    display: inline-block;
    border: 1px solid red;
    width: 30%;
    float: right;
    margin-right: 13%;
    margin-top: 2%;
    border: 1px solid grey;
    height: 170px;
    
}